/* Impotar tipo de Letra */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

/* Reseteo  */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  width: 1440px;
  /* height: 100vh; */
  font-family: "Roboto", sans-serif;
  background-color: #252628;
  margin: 2rem auto;
}

.contenedor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor__navbar {
  /* display: flex; */
  /* flex-direction: column; */
}

.contendor__navbar-lista {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  list-style: none;
}

.contendor__navbar-lista a {
  text-decoration: none;
  color: #bf9e68;
}
.btn1 {
  width: 5, 5rem;
  height: 2rem;
  border: 1px solid #bf9e68;
  border-radius: 1.7rem;
  padding: 0.3rem 0.4rem;
  box-shadow: 1px 1px 0px #a79375;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1:hover {
  background-color: #bf9e68;
  color: #252628;
  /* font-weight:900; */
  box-shadow: 0px 3px 3px #e6d1b0;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor de bienvenida */
.contenedor0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 80vh;
  margin: auto 1rem;
}
.textop36 {
  color: #bf9e68;
  font-weight: 300;
  font-size: 2.25rem;
  font-style: normal;
  letter-spacing: 0.15rem;
}
.contenedor__informacion {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-content: space-between;
}
.contenedor__informacion-btn {
  display: flex;
  justify-content: flex-end;
}

.btn3 {
  width: 12rem;
  height: 3.5rem;
  background-color: #bf9e68;
  border: none;
  border-radius: 1.5rem;
  padding: 0.3rem 0.4rem;
  box-shadow: 0rem 0.05rem 0.05rem #bf9e68;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: 1px 2px 0px #a79375;
}
.btn3:hover {
  cursor: pointer;
  background-color: #252628;
  color: #bf9e68;
  border: solid 0.05rem #a79375;
  box-shadow: 1px 3px 2px #a79375;
}
.contenedor__imagen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35rem;
  height: 20rem;
  background-color: #c4c4c4;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  padding: 2rem;
}

.linea__detalle {
  width: 16rem;
  height: 0.8rem;
  background-color: #252628;
  border-radius: 0.5rem;
}
.linea__derecha{
    display: flex;
    justify-content: flex-end;
}
.contenedor__imagen-texto {
  font-weight: 900;
  font-size: 2.08rem;
  color: #252628;
  letter-spacing: 0.2rem;
}
/* Contenedor formulario */
.contenedor {
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.textoh2 {
  color: #bf9e68;
  font-weight: 900;
  font-size: 3rem;
  font-style: normal;
  letter-spacing: 0.2rem;
}

.contenedor__formulario-card {
  width: 707px;
  /* height: 425px; */
  background-color: #c4c4c4;
  border-radius: 45px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contendor__formulario-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.contenedor__formulario-input {
  width: 487px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid hsl(37, 40%, 58%, 0.5);
  padding: 1.5rem;
  outline: none;
  box-shadow: 1px 1px 0px #a79375;
  background-color: #d4d0d0;
}

.contenedor__formulario-input:focus{
 outline: 0;
 border-color:  #bf9e68;
}

/* Interactuar con javaScript */
.contenedor__formulario-input.correcto{
  border-color: #458807a9;
  
}

.contenedor__formulario-input.error{
  border-color: #e74c3c;
  
}

 .hidden__small{
  
  visibility: hidden;
}

.visible__small {
  color: #91433a;
  font-size: 1.2rem;
  visibility: visible;
}

.btn2 {
  width: 15rem;
  height: 3.5rem;
  background-color: #bf9e68;
  border: none;
  border-radius: 1rem;
  padding: 0.3rem 0.4rem;
  box-shadow: 0rem 0.05rem 0.05rem #bf9e68;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  box-shadow: 1px 2px 0px #a79375;
}
.btn2:hover {
  cursor: pointer;
  background-color: #252628;
  color: #bf9e68;
}

.textobtn {
  font-weight: 900;
  font-size: 1.3rem;
  color: #252628;
}
.textoin {
  font-weight: 300;
  font-size: 1.2rem;
}

/* Visualizacion de Pantallas */
.on{
  display: flex;
}
.off{
  display: none;
}

/* Modal */

.modal {
  background: rgba(53, 52, 52, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.activarModal{
  visibility: visible;
}

.modal__contenedor{
  background: #e2dede;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0.4rem;
  padding: 1.2rem;
  text-align: center;
  color: #252628;
  font-weight: 300;
  width: 35rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  
}

.modal__contenedor .btnCerrar {
  line-height: 1rem;
  text-decoration: none;
  display: block;
  text-align: right;
  color: #bbbbbb;
  transition: 0.3s ease all;
}

.modal__contenedor .btnCerrar:hover{
  color: #252628;
}